* {
	box-sizing: border-box;
}

body {
  background-color: #3B3A3B ;
  font-family: sans-serif;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: #656d7a;
}

.content {
	float:left;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.75em;
}

h3 {
	font-weight: normal;
	font-size: 1em;
}

nav {
  margin: 0 auto;
  padding: 15px;
  width: 100%auto;
	background-color: #000;
}

.restaurant-list {
	background-color: #b3bbc9;
	/* margin: 50px; */
	width: 100%;
}

.location {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid
}

.location:hover {
	background-color: #B4B3B4;
	cursor: pointer;
}
